# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

nRF-Command-Line-Tools_9_8_1_OSX.tar
nRF5_SDK_15.2.0_9412b96.zip
patched
sdk/nRF-Command-Line-Tools_9_8_1_OSX
sdk/nRF5_SDK_15.2.0_9412b96
gcc-arm-none-eabi-7-2018-q2-update-mac.tar.bz2
toolchain/gcc-arm-none-eabi-7-2018-q2-update

sdk
toolchain

